/*          flex_box_demo.css          */

    nav {
      background-color:purple;
      position:absolute;
      top:0;
      left:0;
      width:30%;
      height:100%;
      display:flex;
      flex-direction:column;      
      align-items:center;    
      }

    #sitename {
      font-family:"Helvetica Neue", Helvetica, sans;
      color:blue;
      font-size:30pt;
      font-weight:700;
      font-variant:small-caps;
      text-align:center;
      background-color:orchid;
      position:relative;
      width:70%;
      height:5%;
      padding:10px;
      margin:12px;
      border:10px solid #BA55D3;
      border-radius:10px;
      }

    li {
      font-family:"Times New Roman", Times, serif;
      text-align:center;
      color:white;
      background-color:fuchsia;
      width:30%;
      padding:5px;
      margin:50px;
      border:2px solid aqua;
      border-radius:5px;
      list-style:none;
      min-width:80px;
      flex-basis:70px;
      }

    #first-link {
        color:navy;
        background-color:aqua;
        border:2px solid fuchsia;
        }